@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<html>
    <head>
	    <title>About</title>
        <link rel="stylesheet" href="css/BaseStyles.css" />
    </head>
	<body>
        <div class="content-wrapper">
            <img class="about-image" src="@Model.Value("image")" />
            <div class="about centered break-margin">
                <h1>About</h1>
                <p class="top-10">This project was started as part of the course "Publiceringsverktyg" and was made with the CMS tool Umbraco.</p>
            </div>
                
            <div class="card-holder">
                <div class="column">
                    <div class="card">
                        <div class="container">
                            <h2>Roman Parker</h2>
                            <p class="title">CEO & Founder</p>
                            <p class="break-margin">Roman is the strong and competent leader of the group. Acts as both glue and lubricant synchronously. We think this is great.</p>
                            <p>Roman.parker@umbracodev.dev</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <div class="container">
                            <h2>Max Almroth</h2>
                            <p class="title">Art Director</p>
                            <p class="break-margin">The creative genius of our team. Always wants to be the center of attention. Seen as the clown of the group, if you will.</p>
                            <p>Max.almroth@umbracodev.dev</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <div class="container">
                            <h2>Oscar Kullman</h2>
                            <p class="title">Designer</p>
                            <p class="break-margin">Basically a peon, expected to produce content without any actual input. Hardworking and optimistic, all things considered.</p>
                            <p>Oscar.kullman@umbracodev.dev</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>