@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Contact</title>
	</head>

	<body>
		<div>
			<h1>Contact</h1>
		</div>
	</body>
</html>

<style>

</style>