@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Contact</title>
		<link rel="stylesheet" href="css/BaseStyles.css" />
		<link rel="stylesheet" href="css/ContactForm.css" />
	</head>

	<body>
		<div class="centered">
			<h1 class="top-10 black-text">Contact</h1>

			@await Html.PartialAsync("~/Views/Partials/ContactPartial.cshtml", new umbracoprojekt.ContactDTO())
		</div>
	</body>

	<script src="~/scripts/script.js"></script>
</html>
