@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Contact</title>
	</head>

	<body>
		<div class="centered">
			<h1 class="top-10">Contact</h1>
		</div>
	</body>
</html>

<style>
	.centered {
		position: relative;
		top: 11px;
		left: 50%;
		transform: translate(-50%);

		width: fit-content;
		height: fit-content;
		min-width: 700px;
		min-height: 300px;
		text-align: center;

		border-radius: 5px;
		border: solid 1px black;
	}

	.top-10 {
		position: relative;
		top: 10px;
	}
</style>