@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Updates>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Updates</title>
		<link rel="stylesheet" href="css/BaseStyles.css" />
	</head>

	<body>
		<div class="centered">
			<h1 class="top-10"></h1>
			<p></p>
		</div>
			<div class="centered">
			<h1 class="top-10"></h1>
			<p></p>
		</div>
			<div class="centered">
			<h1 class="top-10"></h1>
			<p></p>
		</div>
	</body>
</html>