@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="css/BaseStyles.css" />
		<script src="scripts/script.js"></script>
	</head>
    <img style="z-index:"src="@Model.Value("mainImage")">
	<body>
		<div class="centered">
			<h1 class="top-10">Trivia</h1>
			<button class="btn"onclick="goToTrivia()">Start Quiz</button>
		</div>
	</body>
</html>
