@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="css/BaseStyles.css" />
		<script src="scripts/script.js"></script>
	</head>
    <img class="home-img" src="@Model.Value("mainImage")">
	<body>
		<div class="centered home-div">
			<h1 class="top-10 white-text">@Model.Value("title")</h1>
			<br /><br />
			<h3 class="white-text">@Model.Value("description")</h3>
			<button class="btn" onclick="goToNasaPage()">Go To NASA API Page</button>
		</div>
	</body>
</html>
