@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="css/BaseStyles.css" />
		<script src="scripts/script.js"></script>
	</head>
    <img class="home-img" src="@Model.Value("mainImage")">
	<body>
		<div class="centered home-div">
			<h1 class="top-10 white-text">Our Umbraco Website</h1>
			<br /><br />
			<p class="white-text">This is a Umbraco website made for a school project. Click the button below to see the NASA API page.</p>
			<p class="white-text">The page will fetch 4 random images from NASA with some information provided for each image.</p>
			<button class="btn" onclick="goToNasaPage()">Go To NASA API Page</button>
		</div>
	</body>
</html>
