@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="css/Navigation.css" />
	</head>

	<body>
		<div class="navigation">
			<ul>
				<li>
					<a class="margin-right-20" href="/">Home Page</a>
				</li>
				<li>
					<a class="margin-right-20" href="/updates">Updates</a>
				</li>
				<li>
					<a class="margin-right-20" href="/contact">Contact</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
			</ul>
		</div>
	</body>
</html>

@RenderBody()