@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<umbracoprojekt.ContactDTO>

<form onsubmit="return submitContactForm()">
    <div class="contactForm">
        <br/>

        <label for="Name">Name</label>
        <br/>
        <input type="text" id="name-input" asp-for="Name" />
        <br />
        <label for="Email">E-Mail</label>
        <br/>
        <input type="email" id="mail-input" asp-for="Email" />
        <br />
        <label for="Message">Message</label>
        <br/>
        <textarea id="message-input" asp-for="Message" ></textarea>
        <br />
        <input type="submit" value="Send"/>
    </div>
</form>

