@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<umbracoprojekt.ContactDTO>

@using (Html.BeginUmbracoForm("contactSubmit", "ContactSurface"))
 {
    <div class="contactForm">
        <br/>

        <label for="Name">Name</label>
        <br/>
        <input type="text" asp-for="Name" />
        <br />
        <label for="Email">E-Mail</label>
        <br/>
        <input type="email" asp-for="Email" />
        <br />
        <label for="Message">Message</label>
        <br/>
        <textarea asp-for="Message" ></textarea>
        <br />
        <input type="submit" value="Send"/>
    </div>
 }

